/* App Component Styles */
body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Navigations Component Styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Books Component Styles */
h2 {
  color: #333;
}

.single-book {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

/* Register Component Styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

/* SingleBook Component Styles */
.single-book img {
  max-width: 25%;
  max-height: 25%;
  height: auto;
  width: auto;
  margin-top: 10px;
}

/* Add your own custom styles here */